#canvas{
        width: 600px;
        height: 600px;
        margin-top: 30px;
      }
      .buttons{
        display: none;
      }
      @media screen and (max-width: 992px){
        #canvas{
          width: 500px;
          height: 500px;
        }
      }

      @media screen and (max-width: 768px){
        #canvas{
          width: 400px;
          height: 400px;
        }
        .buttons{
          display: block;
        }
      }

      @media screen and (max-width: 576px){
        #canvas{
          width: 300px;
          height: 300px;
        }

      }
